@model IEnumerable<Hedibe.Entities.Product>
@{
    ViewData["Title"] = "Products";

    Pager pager = new Pager();
    int pageNumber = 0;
    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNumber = pager.CurrentPage;
    }
}
<section>
    <div class="d-flex justify-content-between px-4 pt-2">
        <h1 class="font-dancing-script m-0">- @ViewData["Title"] -</h1>
        <h2 class="m-0">🍒🍎🍓🥬🥦</h2>
    </div>
    <div class="d-flex justify-content-between px-4">
        <form class="form-inline my-2 my-lg-0" asp-action="Search">
            <a class=" text-black-50 my-2 my-sm-0 mx-2" type="submit" asp-action="Search" asp-route-reset="@true">
                <span class="iconify" data-icon="bi:x-square-fill" data-width="32" data-height="32"></span>
            </a>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" value="@ViewBag.SearchString" name="SearchString">
            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
        <a class="nav-link text-dark d-flex align-items-center p-0" asp-controller="Products" asp-action="Add"><span class=" mx-2 iconify" data-icon="akar-icons:circle-plus-fill"></span> Add your own products!</a>
    </div>
  <table class="table text-center">
  <thead>
      <tr>
          <th class="p-1" scope="col" style="width: 25%">
              <a class="font-dancing-script font-size-md text-dark" asp-action="Sort" asp-route-sort="Name"> @Html.DisplayNameFor(model => model.Name) </a>
          </th>
          <th  class="p-1"scope="col" style="width: 17%">
              <a class="font-dancing-script font-size-md text-dark" asp-action="Sort" asp-route-sort="Calories"> @Html.DisplayNameFor(model => model.Calories) </a>
          </th>
          <th  class="p-1"scope="col" style="width: 17%">
              <a class="font-dancing-script font-size-md text-dark" asp-action="Sort" asp-route-sort="TotalFat"> @Html.DisplayNameFor(model => model.TotalFat) </a>
          </th>
          <th  class="p-1"scope="col" style="width: 17%">
              <a class="font-dancing-script font-size-md text-dark" asp-action="Sort" asp-route-sort="Protein"> @Html.DisplayNameFor(model => model.Protein) </a>
          </th>
          <th class="p-1" scope="col" style="width: 17%">
              <a class="font-dancing-script font-size-md text-dark" asp-action="Sort" asp-route-sort="Carbohydrate"> @Html.DisplayNameFor(model => model.Carbohydrate) </a>
          </th>
          <th class="p-1" scope="col" style="width: 7%">
              <p class="font-dancing-script font-size-md text-dark m-0">  @Html.DisplayNameFor(model => model.Verified)</p>
            
          </th>
      </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {
      <tr>
          <td>
              @Html.DisplayFor(model => item.Name)
          </td>
          <td>
              @Html.DisplayFor(model => item.Calories)
          </td>
          <td>
              @Html.DisplayFor(model => item.TotalFat)
          </td>
          <td>
              @Html.DisplayFor(model => item.Protein)
          </td>
          <td>
              @Html.DisplayFor(model => item.Carbohydrate)
          </td>
          <td>
              @if (item.Verified == true)
              {
                  <span class="iconify text-success" data-icon="akar-icons:circle-check-fill"></span>
              }

              else
              {
                  <span class="iconify text-danger" data-icon="akar-icons:circle-x-fill"></span>
              }
          </td>
      </tr>
      }

  </tbody>
</table>
  <div>
      <partial name="_pager" model="@pager" />
  </div>
   
</section>



