@model Hedibe.Entities.Meal
<a asp-action="Details" asp-controller="Meals" asp-route-Id="@Model.Id" asp-route-redirect="@ViewData["redirect"]" class="text-dark position-relative p-2 meals_tile justify-content-center align-items-center m-2">
    <div class="d-flex align-items-center justify-content-center">
        <div class="mx-2">
            @if (Model.Verified == true)
            {
                <span class="iconify text-success" data-icon="akar-icons:circle-check-fill" data-width="26" data-height="26"></span>
            }

            else
            {
                <span class="iconify text-danger" data-icon="akar-icons:circle-x-fill" data-width="26" data-height="26"></span>
            }
        </div>
        <h2 class="font-dancing-script font-weight-bold text-center m-0">@Model.Name  </h2>
    </div>
        <div class="d-flex flex-row justify-content-around w-100 px-3 ">
            <div class="m-2">
                <span class="iconify" style="width:200px; height:200px" data-icon="ic:round-photo-size-select-large"></span>
            </div>
            <div class="d-flex flex-column justify-content-center">
                <div class="text-center">
                    <h5 class="m-0">Difficulty:</h5>
                    <div class="flex flex-row">
                        @for (int i = 1; i <= Model.Difficulty; i++)
                        {
                            <span class="iconify" data-icon="ant-design:star-filled"></span>
                        }
                        @for (int i = (int)Model.Difficulty; i < 5; i++)
                        {
                            <span class="iconify" data-icon="ant-design:star-outlined"></span>
                        }
                    </div>
                </div>
                <div class="my-2">
                    <p class="m-0 border-bottom border-dark">Total Calories: @Model.CalculateTotalCalories()</p>
                    <p class="m-0">Cooking time: @Model.CookingTimeInHourAndMinutes()</p>
                </div>
            </div>
        </div>
        
</a>

