@model Hedibe.Models.ShoppingLists.ProductsList

<div class="d-flex justify-content-center flex-column align-items-center">
    <form method="post" asp-action="AddSearchProduct">
        <div class="form-group">
            <select id="searchProducts" asp-for="@Model.Id" asp-items="@(new SelectList(Model.Products,"Id","Name"))">
                <option value="0">Select Product</option>
            </select>
            <input class="btn btn-dark" type="submit" value="Add" />
        </div>
    </form>
    @if (Model.CurrentProducts.Count > 0)
    {
        <table class="table text-center">
            <thead>
                <tr>
                    <th class="p-1" scope="col" style="width: 24%">
                        <p class="font-dancing-script font-size-md text-dark m-0"> Name </p>
                    </th>
                    <th class="p-1" scope="col" style="width: 16%">
                        <p class="font-dancing-script font-size-md text-dark m-0">Calories</p>
                    </th>
                    <th class="p-1" scope="col" style="width: 16%">
                        <p class="font-dancing-script font-size-md text-dark m-0"> TotalFat </p>
                    </th>
                    <th class="p-1" scope="col" style="width: 16%">
                        <p class="font-dancing-script font-size-md text-dark m-0"> Protein </p>
                    </th>
                    <th class="p-1" scope="col" style="width: 16%">
                        <p class="font-dancing-script font-size-md text-dark m-0">Carbohydrate</p>
                    </th>
                    <th class="p-1" scope="col" style="width: 6%">
                        <p class="font-dancing-script font-size-md text-dark m-0"> Verified</p>
                    </th>
                    <th class="p-1" scope="col" style="width: 6%">
                        <p class="font-dancing-script font-size-md text-dark m-0"> Remove</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CurrentProducts)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Calories)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.TotalFat)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Protein)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Carbohydrate)
                        </td>
                        <td>
                            @if (item.Verified == true)
                            {
                                <span class="iconify text-success" data-icon="akar-icons:circle-check-fill"></span>
                            }

                            else
                            {
                                <span class="iconify text-danger" data-icon="akar-icons:circle-x-fill"></span>
                            }
                        </td>
                        <td>
                            <a class="text-danger" asp-route-id="@item.Id" asp-action="RemoveSearchProduct" asp-controller="ShoppingList"><span class="iconify" data-icon="fluent:delete-off-24-filled" data-width="20" data-height="20"></span></a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>

